[mysql]

host = localhost
user = <db-user>
password = <db-pass>
database = <db-name>
query = SELECT destination FROM virtual_aliases WHERE source=%(address)s UNION SELECT email FROM virtual_users WHERE email=%(address)s

